# dependencies
node_modules
.pnpm-store

# build
dist
.next
coverage

# env
.env
.env.*
!.env.example

# prisma
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/prisma/test.db
apps/api/prisma/test.db-journal
apps/api/dev.db
apps/api/dev.db-journal

# logs
*.log

# turbo
.turbo

# expo
.expo

# misc
.DS_Store
